In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('data/reviews_full.csv')

In [3]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1994427,10612780,2014-02-27,4918890,Katie,Great host. Provided special gift basket upon ...
1,1994427,49925683,2015-10-07,44613424,Steven,Great host. Met me at apartment. Place was cle...
2,1994427,50537634,2015-10-12,7616696,Marsilius,Syeda hosted my parents for four days during t...
3,1994427,51077613,2015-10-17,16703590,Robert,I had a great experience at Syeda's Airbnb! It...
4,1994427,52109034,2015-10-26,6183409,Steve,"Great location! Warm, welcoming host. This w..."

## Preprocess Data to Label Churn listings

In [4]:
import os

base = 'data/historic_airbnb/nyc/'
dataframes = []

for filename in os.listdir(base):
    dataframes.append(pd.read_csv(base + filename))

/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (40,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (26,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
joined = pd.concat(dataframes)
len(joined)

/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

464565

In [6]:
sum([len(df) for df in dataframes ])

464565

In [7]:
joined.id.value_counts()

1332570     15
3847681     15
2120677     15
2165878     15
3767267     15
41944       15
2683858     15
2057403     15
4613154     15
4586355     15
4000621     15
4830561     15
2495893     15
2471393     15
1305265     15
1934765     15
3567258     15
238746      15
134934      15
784169      15
4294189     15
75635       15
817113      15
366565      15
4438459     15
1806378     15
419281      15
4227144     15
4031463     15
721719      15
            ..
5425500      1
76532        1
12702443     1
9370000      1
7801262      1
4776653      1
8141256      1
3359417      1
7399506      1
1291175      1
4449197      1
4976689      1
7931121      1
3968634      1
10919581     1
485026       1
849616       1
9446613      1
11710235     1
1797308      1
11734192     1
10120348     1
10043241     1
8289310      1
6614995      1
307163       1
11457547     1
690206       1
4692875      1
7346179      1
Name: id, Length: 77201, dtype: int64

In [8]:
joined[joined.id == 4632705].last_scraped

20438    2016-05-02
21707    2016-02-02
16845    2016-01-02
8282     2015-06-01
19002    2015-09-02
20247    2016-04-03
19469    2015-01-02
20522    2015-11-20
18826    2015-08-01
18891    2015-10-01
8301     2015-05-02
20936    2015-12-02
17930    2015-04-02
31153    2015-11-02
17694    2015-03-02
Name: last_scraped, dtype: object

In [9]:
joined.last_scraped = pd.to_datetime(joined.last_scraped)

In [10]:
# get most recent
dedup = joined.sort_index(by='last_scraped').drop_duplicates(subset=['id'], keep='last')

/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

In [11]:
dedup.last_scraped

19444   2015-01-01
1520    2015-01-01
1517    2015-01-01
21691   2015-01-01
21706   2015-01-01
1613    2015-01-01
21724   2015-01-01
21720   2015-01-01
19452   2015-01-01
21690   2015-01-01
24683   2015-01-01
24681   2015-01-01
24677   2015-01-01
19400   2015-01-01
21685   2015-01-01
21672   2015-01-01
21669   2015-01-01
21764   2015-01-01
19485   2015-01-01
10379   2015-01-01
21770   2015-01-01
25300   2015-01-01
21745   2015-01-01
1629    2015-01-01
10368   2015-01-01
10364   2015-01-01
24456   2015-01-01
851     2015-01-01
25619   2015-01-01
7923    2015-01-01
           ...
21698   2016-05-02
21699   2016-05-02
21700   2016-05-02
21701   2016-05-02
21702   2016-05-02
21703   2016-05-02
21704   2016-05-02
21705   2016-05-02
21706   2016-05-02
21707   2016-05-02
21708   2016-05-02
21709   2016-05-02
21710   2016-05-02
21727   2016-05-02
21711   2016-05-02
21713   2016-05-02
21714   2016-05-02
21715   2016-05-02
21716   2016-05-02
21717   2016-05-02
21718   2016-05-02
21719   2016-05-02
21720   2016-05-02
21721   2016-05-02
21722   2016-05-02
21723   2016-05-02
21724   2016-05-02
21725   2016-05-02
21712   2016-05-02
0       2016-05-02
Name: last_scraped, Length: 77201, dtype: datetime64[ns]

In [12]:
len(dedup)

77201

In [13]:
# sanity checks
len(joined.id.unique())

77201

### Churn:

* Listing removed
* No review in last year

In [14]:
# Label Listings that have been removed (not present in most recent scrape)
dedup['churn'] = dedup.last_scraped != pd.Timestamp('2016-05-02')
dedup['churn'].value_counts()

True     44626
False    32575
Name: churn, dtype: int64

## Feature Transformation

In [16]:
features = dedup[['host_is_superhost', 'price',
                    'room_type', 'accommodates',
                    'review_scores_cleanliness', 'review_scores_location', 'host_identity_verified',
                    'host_response_time', 'host_response_rate', 'host_has_profile_pic', 'availability_365',
                    'calculated_host_listings_count', 'calendar_updated', 'last_review', 'minimum_nights',
                    'number_of_reviews', 'reviews_per_month', 'churn']]

features['last_review'] = pd.to_datetime(features.last_review)
features['days_since_last_review'] = (features.last_review.apply(lambda x: pd.Timestamp('2016-05-02') - x)/ np.timedelta64(1, 'D'))
features['host_response_rate'] = features.host_response_rate.str.strip('%').astype(float)
features['price'] = features.price.str.strip('$').str.replace(',', '').astype(float)

/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/jonathandinu/anaconda3/envs/debugging-data/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [17]:
features = features.drop('last_review', axis=1)

features = features.fillna({'host_is_superhost': 'f', 'reviews_per_month': 0, 'instant_bookable': 'f',
                          'review_scores_cleanliness': 0, 'review_scores_location': 0, 'host_identity_verified': 'f',
                         'host_identity_verified': 'f', 'host_response_rate': 0, 'host_response_time': 'a few days or more', 
                         'host_has_profile_pic': 'f', 'calculated_host_listings_count': 1, 'days_since_last_review': 3650,
                         'availability_365': features.availability_365.mean()})

In [18]:
features.head()

,host_is_superhost,price,room_type,accommodates,review_scores_cleanliness,review_scores_location,host_identity_verified,host_response_time,host_response_rate,host_has_profile_pic,availability_365,calculated_host_listings_count,calendar_updated,minimum_nights,number_of_reviews,reviews_per_month,churn,days_since_last_review
19444,f,200.0,Entire home/apt,3,10.0,10.0,f,a few days or more,0.0,f,243.0,1.0,4 months ago,7,4,0.0,True,850.0
1520,f,450.0,Entire home/apt,4,10.0,10.0,f,a few days or more,0.0,f,208.0,1.0,2 weeks ago,3,7,0.0,True,505.0
1517,f,28.0,Shared room,1,0.0,0.0,f,a few days or more,0.0,f,364.0,1.0,6 weeks ago,1,0,0.0,True,3650.0
21691,f,48.0,Private room,2,8.0,6.0,f,a few days or more,0.0,f,143.0,1.0,4 months ago,1,1,0.0,True,612.0
21706,f,160.0,Private room,2,0.0,0.0,f,a few days or more,0.0,f,365.0,1.0,2 months ago,1,0,0.0,True,3650.0

In [19]:
features.to_csv('data/churn.csv')